<ul>
<% @flights.each do |flight| %>
  <section id='flight-<%= flight.id %>'>
    <li><%= flight.number %></li>
      <ol>
    <p><% flight.passengers.each do |passenger| %></p>
        <li><%= passenger.name %></li>
      <% end %>
      </ol>
  </section>
<% end %>
</ul>
